<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
<h1>Welcome to Crappy Netflix</h1>

<button class="ui button">Follow</button>
<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>
<button class="ui circular twitter icon button">
  <i class="twitter icon"></i>
</button>

<ul>
{% for video in videos %}
    <li>{{ video.title }} - {{ video.duration }}</li>
{% endfor %}
</ul>

<ul>
  {% for genre in genres %}
  <li>{{ genre.name }}</li>
  {% endfor %}
</ul>

<form method="post" action="{%  url 'search' %}">
    {% csrf_token %}
    <br />
    {{ myform }}
    <br />
</form>

<span>DATABASE_URL: {{ database_url }}</span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>